[Unit]
Description=Bind DMS DNS Management Daemon
#Documentation=man:dmsdmd(8)
Wants=bind9.service postgresql.service network.target
After = bind9.service

[Service]
EnvironmentFile=/etc/dms/dmsdmd/envvars
ExecStartPre=/etc/dms/dmsdmd/prepare-environment
ExecStart=/usr/local/sbin/dmsdmd --systemd
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abnormal

[Install]
WantedBy=multi-user.target

